*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
    background: url('../../public/images/home-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.home-img{
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.nav{
    width: 100%;
    display: flex;
    padding: 1rem;
    background: rgb(2,20,34);
    color: rgb(248,248,248);
}

.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

.nav-name{
    color: limegreen;
    font-weight: 700;
}

.nav-link{
    color: rgb(248,248,248);
    margin-left: -1.5rem;
}

.nav-link:hover{
    border-bottom: 2px solid limegreen;
    border-top: 2px solid limegreen;
    cursor: pointer;
    color: limegreen;
    font-weight: bold;
    border-radius: 20%;
    margin-left: -1.5rem;
    margin-top: -2px;
    margin-bottom: -2px; 
}

.nav-link:hover::after{
    content: "?";
}

.link{
    text-decoration: none;
    color: inherit;
}

.login-card{
    width: 50%;
    height: 60%;
    background: transparent;
    padding: 5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: rgb(2,20,34);
}

.login-header{
    color: inherit;
    margin: 0.5rem;
}

.genius-img-container{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genius-img{
    width: 10rem;
    height: 9rem;
}

.display-none{
    display: none;
}

.btn{
    padding: 0.3rem;
    border-radius: 8%;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.name-container{
    width: 40vw;
    margin: 0.3rem;
}

.name-input-570,
.name-input-280,
.name-input-450{
    display: none;
}

@media screen and (max-width: 570px){
    .name-input,
    .name-input-450,
    .name-input-280{
        display: none;
    }
    .name-input-570{
        display: block;
        width: 40vw;
        border: 1.5px solid rgb(95, 80, 231);
        border-radius: 8%;
        font-weight: bold;
        padding: 0.3rem;
    }

}

@media screen and (max-width: 450px){
    .name-input,
    .name-input-570,
    .name-input-280{
        display: none;
    }
    .name-input-450{
        display: block;
        width: 40vw;
        border: 1.5px solid rgb(95, 80, 231);
        border-radius: 8%;
        font-weight: bold;
        padding: 0.3rem;
    }

}


@media screen and (max-width: 280px){
    .name-input,
    .name-input-570,
    .name-input-450{
        display: none;
    }
    .name-input-280{
        display: block;
        width: 40vw;
        border: 1.5px solid rgb(95, 80, 231);
        border-radius: 8%;
        font-weight: bold;
        padding: 0.3rem;
    }

}


.name-input{
    width: 40vw;
    border: 1.5px solid rgb(95, 80, 231);
    border-radius: 8%;
    font-weight: bold;
    padding: 0.3rem;
}

.name-input:focus{
    color: rgb(95, 80, 231);
    border-bottom: 3px solid rgb(95, 80, 231);
    outline: 0;
    padding: 0.5rem 0.3rem;
}

.anonymous-btn{
    background: transparent;
    border: 1px solid rgb(2,20,34);
    width: 40vw;
}

.confirm-btn{
    background: transparent;
    border: 1px solid rgb(2,20,34);
    width: 40vw;
}

.anonymous-btn:hover,
.confirm-btn:hover{
    border: 2px solid rgb(2,20,34);
    color: rgb(2,20,34);
    margin-top: -2px;
    font-weight: bold;
}

.confirm-btn-container,
.anonymous-btn-container{
    width: 40vw;
}

.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
}

.error-page-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.error-page-header h2{
    color: red;
    font-size: 3rem;
    margin: 0.5rem;
}

.error-page-header h1{
    color: brown;
    font-size: 4rem;
    margin: 0.5rem;
}

.error-page-header ol{
    list-style: none;
    margin: 0.5rem;
}

.error-page-list-item .link{
    font-size: 1.2rem;
    padding: 2px;
    margin: 0.5rem;
}

.error-page-list-item .link:hover{
    border-bottom: 2px solid rgb(19,89,100);
    color: rgb(19,89,160);
    font-weight: bold;
    padding: 5px;
}

.difficulty-outer-container{
    background: url("../../public/images/difficulty-img.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficulty-inner-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.difficulty-card{
    padding: 1rem;
    background: rgb(2,20,34);
    color: rgb(248,248,248);
    width: 20%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s ease-in-out;
    border-radius: 8%;
}

.difficulty-card:hover{
    border: 2px solid limegreen;
    color: limegreen;
    font-weight: bold;
    transform: scale(1.3);
    cursor: pointer;
    border-radius: 3%;
}

.difficulty-card:hover .difficulty-card-img{
    border: 2px solid limegreen;
    border-radius: 3px;
}

.difficulty-card:hover .difficulty-card-header::after{
    content: " ?";
}

.difficulty-header{
    font-size: 3rem;
}

.difficulty-card-img{
    width: 10rem;
    height: 10rem;
    border-radius: 8%;
}

@media screen and (max-width: 890px){
    .difficulty-card-img{
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (max-width: 730px){
    .difficulty-card-img{
        width: 6rem;
        height: 6rem;
    }

    .difficulty-card{
        width: 20%;
        height: 40%;
    }
}

@media screen and (max-width: 560px){
    .difficulty-card-img{
        width: 4rem;
        height: 4rem;
    }

    .difficulty-header{
        font-size: 2.5rem;
    }

    .difficulty-card{
        width: 20%;
        height: 30%;
    }
}

@media screen and (max-width: 465px){
    .difficulty-card-img{
        width: 4rem;
        height: 4rem;
    }

    .difficulty-header{
        font-size: 2rem;
    }

    .difficulty-card{
        width: 26%;
        height: 30%;
    }

    .difficulty-card-header{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 450px){
    .difficulty-outer-container{
        height: 110vh;
        display: flex;
        flex-direction: column;
    }

    .difficulty-inner-container{
        flex-direction: column;
        margin: 4rem;
    }

    .difficulty-card{
        margin: 0.3rem;
    }

    .difficulty-card-img{
        width: 6rem;
        height: 6rem;
    }

    .difficulty-header{
        font-size: 1.7rem;
    }

    .difficulty-card{
        width: 50%;
        height: 30%;
    }

    .difficulty-card:hover{
        transform: scale(1.1);
    }

    .difficulty-card-header{
        font-size: 0.6rem;
    }
}

.category{
    background: url("../../public/images/difficulty-img.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.category-header{
    font-size: 2.5rem;
    margin: 1rem;
    font-weight: bold;
    color:rgb(95, 80, 231);
}

.category-container{
    width: 100vw;
}

.category-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.category-list-item{
    color: rgb(248,248,248);
    margin: 0.5rem;
    width: 20vw;
    transition: 0.1s ease-in-out;
}

.category-list-item:hover{
    border: 2px solid limegreen;
    background: rgb(2,20,34);
    color: limegreen;
    font-weight: 800;
    transition: 0.3s;
    cursor: pointer;
}

.category-list-item:hover .category-name::after{
    content: "?";
} 

.category-card{
    background: rgb(2,20,34);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8%;
}

@media screen and (max-width: 610px){
    .category-name{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 545px){
    .category-name{
        font-size: 0.8rem;
    }
    .category-header{
        font-size: 2rem;
    }
}

@media screen and (max-width: 495px){
    .category-name{
        font-size: 0.7rem;
    }
    .category-header{
        font-size: 2rem;
    }
}

@media screen and (max-width: 440px){
    .category-name{
        font-size: 0.6rem;
    }
    .category-header{
        font-size: 1.5rem;
    }
    .category-card{
        padding: 0.6rem;
    }
}

@media screen and (max-width: 380px){
    .category-name{
        font-size: 0.5rem;
    }
    .category-header{
        font-size: 1.3rem;
    }
    .category-card{
        padding: 0.4rem;
    }
}

.question-content{
    font-weight: bold;
    font-size: 1.2rem;
}

.question{
    font-weight: bold;
    font-size: 2rem;
    margin: 0.5rem;
}

.quiz{
    background: url('../../public/images/quiz-img.webp');
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
}

.quiz-header{
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.question-container{
    background: rgb(2,20,34);
    color: rgb(248,248,248);
    padding: 2rem;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    margin: 0.5rem;
    border: 4px double limegreen;
    display: flex;
    align-items: center;
    width: 90vw;
}

.answer-container{
    width: 70%;
}

.answer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    width: 100%;
    margin: 1rem;
}

.answer-card{
    background: rgb(2,20,34);
    padding: 0.7rem;
    margin: 0.5rem;
    color: rgb(248,248,248);
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    width: 100%;
}

.answer-card:hover{
    transform: scale(1.15);
    border: 2px solid limegreen;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    font-weight: 700;
    color: limegreen;
}

.question-number{
    display: flex;
}

.score-container{
    background: url("../../public/images/quiz-img.webp");
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-card{
    background: rgb(2,20,34);
    padding: 2rem;
    border: 3px solid limegreen;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.score-header{
    font-weight: 750;
    font-size: 2.5rem;
    text-decoration: underline;
    margin: 0.7rem;
    color: #D0DEB0;
}

.score-content{
    margin: 0.7rem;
    color: #D1DFAB;
    font-weight: 650;
    font-size: 2rem;
}

.underline{
    font-size: inherit;
    text-decoration: underline;
}

.score-img{
    width: 15rem;
    height: 15rem;
}

.name-content{
    color: #D0DEB0;
    font-weight: 700;
    font-size: 1.82rem;
    margin: -0.6rem 1rem -1rem 1rem;
}

.score-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.6rem;
}

.score-btn-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.score-btn{
    width: 35%;
    border-radius: 10%;
    background: transparent;
    color: rgb(248,248,248);
    border: 1px solid rgb(248,248,248);
}

.score-btn:hover{
    border-radius: 3%;
    border: 2px solid limegreen;
    color: limegreen;
    font-weight: bold;
    margin: -1px 0;
    transform: scale(1.05);
}

.score-btn:hover::after{
    content: "?";
}

@media screen and (max-height: 700px){
    .score-card{
        padding: 0.7rem;
    }
}